/* * {
  box-sizing: border-box;
}

body {
  margin: 0;
}

#ibijzv {
  height: 370px;
}

.form {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  padding-top: 10px;
  padding-right: 15px;
  padding-bottom: 10px;
  padding-left: 15px;
  background-color: rgba(0, 0, 0, 0.2);
}

.input {
  width: 100%;
  margin-bottom: 15px;
  padding-top: 7px;
  padding-right: 10px;
  padding-bottom: 7px;
  padding-left: 10px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  color: rgb(255, 255, 255);
  background-color: rgb(85, 76, 87);
  border-top-width: initial;
  border-right-width: initial;
  border-bottom-width: initial;
  border-left-width: initial;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: initial;
  border-right-color: initial;
  border-bottom-color: initial;
  border-left-color: initial;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
}

.label {
  width: 100%;
  display: block;
}

.button {
  width: 100%;
  margin-top: 15px;
  margin-right: 0px;
  margin-bottom: 15px;
  margin-left: 0px;
  background-color: rgb(120, 85, 128);
  border-top-width: initial;
  border-right-width: initial;
  border-bottom-width: initial;
  border-left-width: initial;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: initial;
  border-right-color: initial;
  border-bottom-color: initial;
  border-left-color: initial;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  color: rgb(255, 255, 255);
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  padding-top: 7px;
  padding-right: 10px;
  padding-bottom: 7px;
  padding-left: 10px;
  font-size: 1em;
  cursor: pointer;
}

.row {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.cell {
  min-height: 75px;
  flex-grow: 1;
  flex-basis: 100%;
}

@media (max-width: 768px) {
  .row {
    flex-wrap: wrap;
  }
  .row {
    flex-wrap: wrap;
  }
  .row {
    flex-wrap: wrap;
  }
  .row {
    flex-wrap: wrap;
  }
}

@media (max-width: 480px) {
  .c4208 {
    padding: 10px;
    border: 0 black black;
    font-size: 21px;
  }
  .label {
    float: none;
  }
  .button {
    float: none;
    opacity: 1;
    width: 90px;
  }
} */
